{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    // "@app": "./src/app",
                    // "@lib": "./src/lib",
                    // "@utils": "./src/lib/utils/index.ts",
                    // "@components": "./src/components",
                    // "@worker": "./src/worker"
                },
                "extensions": [
                    "ts",
                    "tsx"
                ]
            }
        ],
        "transform-es2015-modules-commonjs"
    ]
}